[submodule "extern/Marble"]
	path = extern/Marble
	url = https://invent.kde.org/education/marble.git
[submodule "extern/marble"]
	path = extern/marble
	url = https://github.com/Simon-Bolivar99/marble.git
